* {
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Barlow Condensed', sans-serif;
    margin:auto;
}

header {
    top:0;
    position:sticky;
    width: 100%;
    min-height: 66px;
    height: 120px;
    background-color: white;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    z-index: 100;
}

header ul {
    position:relative;
}

header ul li {
    position: relative;
    list-style: none;
    float:left;
}

header .logo img {
    width:110px;
    height:110px;
}

header ul li a {
    color: black;
    font-size: 1.1em;
    padding: 20px 25px;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
}

header ul li a:hover {
    background-color:#00B977;
    color: white;
}

header ul li ul {
    position: absolute;
    font-weight: normal;
    left: 0;
    width:200px;
    background: rgb(29, 141, 104);
    display: none;
}

header ul li:hover ul {
    display:block
}

header ul li ul li {
    position: relative;
    width:100%;
    border: 1px solid rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
    color:  #254636;
    transition: all 0.3s ease;
}

img {
    max-width: 100%;
    height:auto;
}

button {
    display: inline-block;
	padding: 1vw 1.4vw;
	color: #fff;
    border:none;
	text-transform: uppercase;
	letter-spacing: .10rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
    background-color: #00B977;
    /* box-shadow: 0 2px 25px rgba(0, 255, 221, 0.5); */
    cursor: pointer;
}

button:hover {
    background-color: #254636;
    transition: 1s ease;
}

h6::first-line {
    color:#5b56a3;
}

h1 {
    font-size: 350%;
    color:#254636;
}

h2 {
    font-size: 250%;
}

h3 {
    color: rgb(15, 134, 74);
}

h4 {
    color:rgb(206, 137, 9);
}

h1,h2,h3,h4 {
    text-transform: uppercase;
}

h2, .widget h4 {
    color:#00B977;
}

.goToTop {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00B977;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
}

.goToTop:hover {
    background-color: #254636;
}

table {
    width:100%;
    border-collapse: separate;
    border-spacing: 70px 5px;
}

table i {
    color:rgb(206, 137, 9);
    margin-right: 5%;
}

td {
    width: 50%;
    height: 5vw;
    padding-left: 5px;
    padding-top:1vw;
    vertical-align: top;
}

tr td {
    position: relative;
    line-height: 2;
}

tr td::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

tr td::first-line {
    font-weight: bold;
}

tr:first-child td::after {
    display: none;
}

footer {
    background-color:darkgray;
    color: black;
    border-top: 2px solid rgba(157, 157, 157, 0.67);
    margin-top: 100px;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
}

footer p {
    margin:0;
}

@keyframes fade {
    from {
        filter: brightness(10%);
    }
    to {
        opacity:100%;
    }
}

@keyframes slidein {
    from {
      margin-top: 10%; /* Start off the screen */
      filter: brightness(5%);
    }
  
    to {
      margin-top: 0; /* Slide in to the left */
      opacity:100%;
    }
}

@media (max-width: 700px) {
    header {
        padding: 10px 20px;
    }

    header nav {
       position: absolute;
       width: 100%;
       top: 120px;
       left:0;
       background: #445964;
       display:none;
    }

    header.responsiveMenu nav {
        display: initial;
    }

    header nav ul li {
        width:100%;
    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left:0;
    }

    header nav ul li:hover ul li {
        background:rgb(29, 141, 104);
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor:pointer;
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: black;
        transform: translateY(-12px);
        box-shadow: 0 12px black;
    }

    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: black;
        transform: translateY(12px);
    }

    header.responsiveMenu .menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 black;
    }

    header.responsiveMenu .menuToggle::after {
        transform: rotate(315deg);
    }

    table {
        margin-top:10%;
        text-align: left;
        border-spacing: 30px 10px;
    }

    td {
       padding-bottom: 20px;
    }

    button {
        padding: 2vw 2.8vw;
    }
}

@media (max-width: 480px) {
    .sponsorStripe {
        margin-bottom:7vw;
    }

    header {
        height:90px;
    }

    header .logo img {
        width: 80px;
        height: 80px;
    }

    header nav {
        top: 90px;
    }
}