.slider {
    position: relative; 
    overflow: hidden;
}


#sliderImg {
    width:100%;
    height:42vw;
    object-fit: cover;
    animation-name: fade;
    animation-duration:2.5s;
    filter: brightness(40%);
}

.sliderItems { 
    color:white;
    position: absolute;
    width:100%;
    top:12vw;
    text-align: left;
    left:10%;
    width:90%;
    font-size: 5vw;
    animation-name: slidein;
    animation-duration:1.5s;
}

#smallSliderText {
    position:absolute;
    top:1vw;
    font-size: 30%;
}

#sliderButton {
    bottom:5vw;
}

#goRight, #goLeft {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height:auto;
    margin-top: -22px;
    padding: 14px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity:50%;
}

#goRight {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#goLeft {
    left:0;
}

#goLeft:hover, #goRight:hover {
    opacity:100%;
    color:white;
    background-color: darkgrey;
}

#sliderContactButton {
    cursor: pointer;
    position: absolute;
    top: -15vw;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index:90;
}


.container {
    max-width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 1px solid rgba(157, 157, 157, 0.67);
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.01);
}

.main {
    display: flex;
    justify-content: space-between;
}


article {
    width: 70%;
}

.halfArticle {
    width: 50%;
    text-align: left;
    margin-left: 20px;
}

article, .halfArticle, .fullArticle {
    padding: 30px;
    font-size: 120%;
}

article button, .halfArticle button, .fullArticle button {
    margin-top: 2vw;
    margin-right: 0.5vw;
} 

aside {
    width: 30%;
    padding: 20px;
    background-color: lightgray;
    border-left: 2px solid rgba(157, 157, 157, 0.67);
}

.halfAside {
    width: 50%;
    padding: 20px;
    background-color: lightgray;
    border-left: 2px solid rgba(157, 157, 157, 0.67);
}

.halfAside img {
    height: 100%;
}

.widget {
    margin-bottom: 30px;
}

.widget p {
    text-align: left;
}

h6::first-line {
    color:#254636;
}

h2, .widget h4 {
    color:#00B977;
}

.widget a:visited {
    color:darkgreen;
}

h1, .widget h3 {
    color:#254636;
}

.widget:after {
    content: '';
    display: table;
    clear: both;
}

.widget li {
    margin-bottom: 15px;
}

.widget img {
    float: left;
    margin: 0 12px 5px 0;
}

.widget ul {
    list-style-type: square;
    list-style-position: inside;
    padding: 0 0 0 18px;
    margin: 0;
}

.goToTop {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00B977;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
}

.goToTop:hover {
    background-color: #254636;
}


@media (max-width: 700px) {
    .main {
        flex-direction: column;
    }

    article, aside, .halfAside, .halfArticle, .fullArticle{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    article button, .halfArticle button, .fullArticle button {
        margin-bottom:4vw;
    }

    article h1, article h2, .halfArticle h1, .halfArticle h2, .fullArticle h1, .fullArticle h2 {
        text-align: center;
    }  

    article img, .halfArticle img, .fullArticle img {
        display: block;
        width: 100%;
        margin: 30px auto;
    }

    aside, .halfAside {
        border: 0;
    }
}

@media (max-width: 480px) {
    .slider {
        display: none;
    }

    h1 {
        margin-top: 0;
    }
}