body {
    background-color: whitesmoke;
    text-align:center;
    margin:auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width:100%;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color:  #254636;
    transition: all 0.3s ease;
}

a:visited {
    color:#00B977;
}


img {
    max-width: 100%;
    height:auto;
}

header {
    background-color: whitesmoke;
    position:sticky;
    top:0;
    display:flex;
    align-items: center;
    padding: 0.2vw;
    padding-right:0.4vw;
    justify-content: space-between;
    z-index: 99;
}

button {
    display: inline-block;
	padding: 1vw 1.4vw;
	color: #fff;
    border:none;
	text-transform: uppercase;
	letter-spacing: .10rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
    background-color: #00B977;
    /* box-shadow: 0 2px 25px rgba(0, 255, 221, 0.5); */
    cursor: pointer;
}

a, td a {
    text-decoration: none;
}



button:hover {
    background-color: #254636;
    transition: 1s ease;
}

.logo a,
.logo img {
    height:6vw;
    width:9vw;
}

nav {
    overflow:hidden;
    font-weight: bold;
}

nav ul {
    margin: 0;
    margin-right:2vw;
    padding: 0;
    
}

nav li {
    display: inline-block;
    margin-top:0;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 1vw;
    display: block;
}

nav a:hover, .subnav:hover .subnavHeader{
    background-color: #254636;
    color: white;
} 
  
.subnavHeader {
    font-size: 1vw; 
    border: none;
    color: black;
    padding: 10px 15px;
    background-color: whitesmoke;
    margin: 0;
  } 

.subnavContent {
    display: none;
    position:absolute;
    font-weight: lighter;
    background-color: #254636;
    min-width: 8vw;
  }


.subnavContent a {
    color:white;
    text-align: left;
  } 


.subnavContent a:hover {
    color:lightskyblue;
}

.subnav:hover .subnavContent {
    display: block;
}

h6::first-line {
    color:#5b56a3;
}

h1 {
    font-size: 250%;
    color:#254636;
}

h2 {
    font-size: 200%;
}

h3 {
    color: rgb(15, 134, 74);
}

h4 {
    color:rgb(206, 137, 9);
}

h1,h2,h3,h4 {
    text-transform: uppercase;
}

h2, .widget h4 {
    color:#00B977;
}

.goToTop {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00B977;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
}

.goToTop:hover {
    background-color: #254636;
}

table {
    width:100%;
    border-collapse: separate;
    border-spacing: 70px 5px;
}

table i {
    color:rgb(206, 137, 9);
    margin-right: 5%;
}

td {
    width: 50%;
    height: 5vw;
    padding-left: 5px;
    padding-top:1vw;
    vertical-align: top;
}

tr td {
    position: relative;
    line-height: 2;
}

tr td::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

tr td::first-line {
    font-weight: bold;
}

tr:last-child td::after {
    display: none;
}

.sponsorStripe {
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top:5vw;
    margin-bottom:5vw;
}

footer {
    background-color:darkgray;
    color: black;
    border-top: 2px solid rgba(157, 157, 157, 0.67);
    margin-top: 100px;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
}

footer p {
    margin:0;
}

@keyframes fade {
    from {
        filter: brightness(10%);
    }
    to {
        opacity:100%;
    }
}

@keyframes slidein {
    from {
      margin-top: 10%; /* Start off the screen */
      filter: brightness(5%);
    }
  
    to {
      margin-top: 0; /* Slide in to the left */
      opacity:100%;
    }
}

@media (max-width: 700px) {
    body,nav a, .subnavHeader, .subnavContent {
        font-size: 11px;
    }

    nav li {
        display: block;
    }

    .logo img{
        width: 90px;
        height:70px;
    }

    table {
        margin-top:10%;
        text-align: left;
        border-spacing: 30px 10px;
    }

    td {
       padding-bottom: 20px;
    }

    button {
        padding: 2vw 2.8vw;
    }
}

@media (max-width: 480px) {
    .sponsorStripe {
        margin-bottom:7vw;
    }
}