* {box-sizing:border-box}

body {
    background-color: whitesmoke;
    text-align:center;
    margin:auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width:100%;
}
header {
    background-color:  rgb(240, 236, 222);
    position:sticky;
    top:0;
    display:flex;
    align-items: center;
    padding: 5px;
    padding-right:10px;
    justify-content: space-between;
    z-index: 99;
}

.logo a,
.logo img {
    height:6vw;
    width:9vw;
}

nav {
    overflow:hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-top:0;
}
nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
    display: block;
}

nav a:hover, .subnav:hover .subnavButton{
    background-color: black;
    color: red;
}  
  
.subnavButton {
    font-size: 18px; 
    border: none;
    color: black;
    padding: 10px 15px;
    background-color: rgb(240, 236, 222);
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
  } 

.subnavContent {
    display: none;
    position:absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }


.subnavContent a {
    color:red;
    text-align: left;
  } 


.subnavContent a:hover {
    color:white;
  }

.subnav:hover .subnavContent {
    display: block;
  }


.main {
    margin-bottom: 2vw;
}

.slider {
    position: relative;  
}


#sliderImg {
    width:100%;
    height:auto;
    object-fit: cover;
    opacity:100%;
    animation-name: fade;
    animation-duration:2.5s;
    filter: brightness(60%);
}

.sliderText { 
    color:white;
    position: absolute;
    width:100%;
    top:0;
    text-align: center;
    font-size: 5vw;
    opacity:100%;
}

#goRight, #goLeft {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#goRight {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#goLeft {
    left:0;
}


#JSnotworking {
    color:red;
    font-size:2vw;
}

#standings {
    display: none;
    text-align:center;
    padding-bottom:2vw;
}

table {
    font-size: 80%;
    width: auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:2vw;
    border: 3px solid black;
}

th, td {
    border: 1px solid rgb(44, 43, 43);
    padding:0.4vw;
}

td:first-child {
    color:green;
    width:20%;
}

#Orzeł_Przyłęki td:first-child {
    color:red;
}

#goToTop {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
}

#goToTop:hover {
    background-color: darkred;
}

#contactInfo {
    font-size:2vw;
}

form {
    text-align:500px;
}

form input {
    margin-top:1vw;
    margin-bottom: 1vw;
}
footer {
    position: static;
    bottom:0;
    width:100%;
    background-color: #201f8a;
    color: whitesmoke;
    border-top: 2px solid rgba(157, 157, 157, 0.67);
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    margin-top:2vw;
}
footer p {
    margin:0;
}

@keyframes fade {
    from {
        filter: brightness(10%);
    }
    to {
        opacity:100%;
    }
}

@media only screen and (max-width: 300px) {
    body {
        font-size:11px;
    }
}