body {
    background-color: whitesmoke;
    text-align:center;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    align-items: center;
    justify-content: center;
}
header {
    background-color:  #dfcfbe;
    position:sticky;
    top:0;
    display:flex;
    align-items: center;
    padding: 0.2vw;
    padding-right:0.4vw;
    justify-content: space-between;
    z-index: 99;
}

button {
    display: inline-block;
	padding: 0.7vw 1.4vw;
	color: #fff;
    border:none;
	text-transform: uppercase;
	letter-spacing: .10rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
    background-color: #00B977;
    box-shadow: 0 2px 25px rgba(0, 255, 221, 0.5);
    cursor: pointer;
}

a, td a {
    text-decoration: none;
}



button:hover {
    background-color: #254636;
    transition: 1s ease;
}

.logo a,
.logo img {
    height:6vw;
    width:9vw;
}

nav {
    overflow:hidden;
}

nav ul {
    margin: 0;
    margin-right:2vw;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-top:0;
}
nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 1vw;
    display: block;
}

nav a:hover, .subnav:hover .subnavHeader{
    background-color: #254636;
    color: white;
}  
  
.subnavHeader {
    font-size: 1vw; 
    border: none;
    color: black;
    padding: 10px 15px;
    background-color: #dfcfbe;
    margin: 0;
  } 

.subnavContent {
    display: none;
    position:absolute;
    background-color: #254636;
    min-width: 8vw;
  }


.subnavContent a {
    color:white;
    text-align: left;
  } 


.subnavContent a:hover {
    color:lightskyblue;
  }

.subnav:hover .subnavContent {
    display: block;
  }

.slider {
    position: relative; 
}


#sliderImg {
    width:100%;
    height:42vw;
    object-fit: cover;
    animation-name: fade;
    animation-duration:2.5s;
    filter: brightness(40%);
}

.sliderItems { 
    color:white;
    position: absolute;
    width:100%;
    top:12vw;
    text-align: left;
    left:10%;
    width:90%;
    font-size: 5vw;
    animation-name: slidein;
    animation-duration:1.5s;
}

#smallSliderText {
    position:absolute;
    top:1vw;
    font-size: 30%;
}

#sliderButton {
    bottom:5vw;
}

#goRight, #goLeft {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height:auto;
    margin-top: -22px;
    padding: 14px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity:50%;
}

#goRight {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#goLeft {
    left:0;
}

#goLeft:hover, #goRight:hover {
    opacity:100%;
    color:white;
    background-color: darkgrey;
}

#sliderContactButton {
    cursor: pointer;
    position: absolute;
    top: -15vw;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index:90;
}

#JSnotworking {
    color:red;
    font-size:2vw;
}

#standings {
    display: block;
    text-align:center;
    padding-bottom:2vw;
    margin-top: 2vw;
}

#standingsText {
    font-weight: bold; 
    font-size:0.9vw;
}

table {
    width: auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:2vw;
    border: 3px solid black;
}

th, td {
    border: 1px solid rgb(44, 43, 43);
    padding:0.4vw;
}

td:first-child {
    color:green;
    width:20%;
}

#Orzeł_Przyłęki td:first-child {
    color:red;
}

#goToTop {
    display: none;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00B977;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
}

#goToTop:hover {
    background-color: #254636;
}

.mainContent {
    width: 80%;
    margin:auto;
    align-items: center;
    display: flex;
    height: 500px;
    flex-direction: row;
    background-color: lightgray;

}

.mainContent img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.mainContent .galleryColumn img{
    float:left;
    width: 100%;
    height: 400px;
}

.mainContentText {
    margin:2%;
    width:50%;
    height: 100%;
    font-size: 1.1vw;
    text-align: left;
}

.mainContentText h6::first-line, .mainContentText a:visited {
    color:#00B977;
}

.playersPhotos {
    width: 80%;
    margin: auto;
    display: block;
    height: auto; 
    background-color: lightgray;
    position:relative;
}

.player img{
    margin-top: 2vw;
    width:90%;
    height:1000px;
    object-fit: cover;
}

.player p {
    margin-top: 3vw;
    position:absolute;
    z-index: 1;
    width: 100%;
    color:white;
    font-size: 2vw;
    }

td a:visited {
    color:green
}

.formContainer #contactInfo {
    font-size:2vw;
    color: #254636;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.formContainer form {
    padding: 30px 0 0 0;
}

.formContainer {
    margin:auto;
    max-width: 60vw;
    height: auto;
    background: whitesmoke;
    width: 60vw;
    padding: 0.7vw 1vw 0.25vw 1vw;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
}

.formContainer form .formRow {
    display: flex;
    margin-bottom: 2vw;
}

form .formRow .inputData {
    width: 100%;
    height: 2vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    position:relative;
}

.inputData input, .inputData select {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.9vw;
    border-bottom: 0.15vw solid rgba(0,0,0, 0.12);
}

#seniorTeam, #juniorTeam {
    height: 50%;
}

.inputData label {
    margin-left:0.5vw;
    left:0;
    position: absolute;
    pointer-events: none;
    bottom: 0.5vw;
    font-size: 0.9vw;
    transition: all 0.3s ease;
}


.inputData input:focus ~ label, .textarea textarea:focus ~ label,
.inputData input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translate(-0.5vw,-2vw);
    font-size: 1vw;
    color: #00B977;
}

.textarea textarea {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.8vw;
}

.textarea label {
    width: 100%;
    margin-top:2vw;
    bottom: 2px;
    background: whitesmoke; 
}

.chooseFile {
    margin-top:2vw;
    text-align: center;
}

.formButtons .inputData {
    width: 25%!important;
}


.formButtons .inputData input {
    
    background: -webkit-linear-gradient(left, #00B977, #254636);
    color:white!important;
    border: none;
    color: black;
    font-size: 0.9vw;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#getLocation {
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: none!important;
}

#infoStadium {
    display:none;
}

footer {
    position:static;
    bottom:0;
    width:100%;
    background-color:#dfcfbe;
    color: black;
    border-top: 2px solid rgba(157, 157, 157, 0.67);
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top:2vw;
    text-align: center;
}

footer p {
    margin:0;
}

@keyframes fade {
    from {
        filter: brightness(10%);
    }
    to {
        opacity:100%;
    }
}

@keyframes slidein {
    from {
      margin-top: 10%; /* Start off the screen */
      filter: brightness(5%);
    }
  
    to {
      margin-top: 0; /* Slide in to the left */
      opacity:100%;
    }
  }

@media (max-width:700px) {
    body,nav a, .subnavHeader, .subnavContent,#standingsText,.formButtons,#goLeft,#goRight,
    .formRow .inputData label, .formRow .inputData select,.inputData input:focus ~ label, .textarea textarea:focus ~ label,
    .inputData input:valid ~ label, .textarea textarea:valid ~ label, .player p, .formButtons .inputData input, .formRow .inputData .chooseFile{
        font-size: 11px;
    }
    nav li {
        display: block;
    }
    .logo img{
        width: 90px;
        height:70px;
    }
    .formContainer #contactInfo {
        font-size:30px;
    }
    .formContainer form {
        padding: 10px 0 0 0;
    }
    .formContainer form .formRow {
        display:block;
    }
    form .formRow .inputData{
        margin: 35px 0!important;
    }
    .formButtons .inputData{
        width: 40%!important;
    }
    .inputData input, .inputData select {
        height: 200%;
    }
    .textarea textarea {
        font-size: 11px;
        width:80%
    }
    #seniorTeam, #juniorTeam {
        height:100%;
    }
    .mainContent {
        display: block;
        height:220px;
    }
    .mainContentText {
        margin:6px;
        padding:2px;
        width: 95%;
        font-size: 11px;
    }
    .mainContent img{
        width: 100%;
        height:200px;
    }
    .galleryColumn {
        display: none;
    }
    .playersPhotos {
        height:100%;
    }
    .player img {
        height:200px;
    }
    footer {
        margin-top:60vw;
    }
}